<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.allora.worker</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/docker</string>
        <string>compose</string>
        <string>up</string>
        <string>--build</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>{{ HF_REPO_DIR }}</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
        <key>HOME</key>
        <string>{{ ansible_env.HOME }}</string>
    </dict>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    
    <key>StandardOutPath</key>
    <string>{{ ansible_env.HOME }}/Library/Logs/allora-worker.log</string>
    
    <key>StandardErrorPath</key>
    <string>{{ ansible_env.HOME }}/Library/Logs/allora-worker-error.log</string>
    
    <key>ProcessType</key>
    <string>Background</string>
</dict>
</plist>
